@use '../abstracts/variable' as *;
@use '../abstracts/mixing' as *;

.information {
  margin: 4rem 0;
  @include breakpoint(xl) {
    margin: 9rem 0;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    row-gap: 2rem;
    column-gap: 2rem;
    padding: 2rem;
    @include breakpoint(xl) {
      background-color: var(--box-information);
    }
  }

  &__box {
    background-color: var(--box-information);
    border-radius: 0.7rem;
    box-shadow: 0px 0.3rem 0.6rem rgba(0, 0, 0, 0.08);
    overflow: hidden;
    padding: 2rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    @include breakpoint(xl) {
      background-color: transparent;
      border-radius: 0;
      box-shadow: unset;
      padding: 2rem 0;
    }
    &--text {
      img {
      }
      p {
        @include fontStyle(infoText, semibold);
        text-transform: capitalize;
      }

      small {
        @include fontStyle(general, regular);
        opacity: 0.6;
      }
    }
  }
}
